global:
  # The smarthost and SMTP sender used for mail notifications.
  smtp_from: '{{ smtp_from_email_account }}'
  smtp_smarthost: '{{ smtp_smarthost_address }}'
  smtp_require_tls: {{ smtp_tls_enabled }}
  # smtp_auth_username: 'alertmanager'
  # smtp_auth_password: 'password'
  # smtp_auth_secret: <string>
  # The auth token for Hipchat.
  # hipchat_auth_token: '1234556789'
  # Alternative host for Hipchat.
  # hipchat_url: 'https://hipchat.foobar.org/'

route:
  group_by: ['alertname', 'service', 'action', 'container_label_com_jcloud_group', 'container_label_com_jcloud_nodetype']

  # When a new group of alerts is created by an incoming alert, wait at
  # least 'group_wait' to send the initial notification.
  # This way ensures that you get multiple alerts for the same group that start
  # firing shortly after another are batched together on the first
  # notification.
  group_wait: {{ alert_group_wait }}

  # When the first notification was sent, wait 'group_interval' to send a batch
  # of new alerts that started firing for that group.
  group_interval: {{ alert_group_interval }}

  # If an alert has successfully been sent, wait 'repeat_interval' to
  # resend them.
  repeat_interval: {{ alert_repeat_interval }}

  # A default receiver
  receiver: 'default'

  # sub routes
  routes:
  # sub routes receiver
  - receiver: 'default'
    group_wait: {{ recover_group_wait }}
    group_interval: {{ recover_group_interval }}
    repeat_interval: {{ recover_repeat_interval }}
    match:
      action: 'recover'
    continue: true

  - receiver: 'amexecutor'
    group_wait: {{ recover_group_wait }}
    group_interval: {{ recover_group_interval }}
    repeat_interval: {{ recover_repeat_interval }}
    match:
      action: 'recover'
    continue: true

receivers:
- name: 'default'
  email_configs:
  - to: '{{ receiver_email_account }}'
    send_resolved: true

- name: 'amexecutor'
  webhook_configs:
  - url: http://{{ hostvars[groups['amexecutor'].0].amexecutor_private_ip }}:{{ hostvars[groups['amexecutor'].0].amexecutor_expose_port }}
    send_resolved: true
