{% for host in groups['all'] %}
ALERT container_down_{{ hostvars[host].inventory_hostname|lower|replace('-','_') }}
  IF absent(container_start_time_seconds{name="{{ hostvars[host].inventory_hostname|lower|replace('-','_') }}"})
  FOR 30s
  LABELS {
    severity = "critical" ,
    action = "recover"
  }
  ANNOTATIONS {
    summary= "{{ '{{ $labels.name }}' }} down",
    description= "{{ '{{ $labels.name }} is down for more than 30 seconds.' }}"
  }

{% endfor %}
